body {
  background-color: #07070D;
  color: #DDEEDD;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: auto;
  max-width: 1280px;
  height: 100vh;
  min-width: 280px;
}

a,
a:hover {
  color: #E83C08;
}

header {
  background-image: url('https://moleliza.gitlab.io/img/swcbanner.jpg');
  background-size: cover;
  height: 30vh;
}

main {
  background-color: #444;
  min-height: 70vh;
  margin-bottom: -70px; /* offset footer height */
  padding-top: 1em;
}

#title {
  margin-bottom: 1em;
}


/* prevents page zoom on mobile */

input[type="search"] {
  font-size: 16px;
}

tbody tr:hover {
  cursor: pointer;
  font-style: italic;
}

.selected {
  background-color: #DDEEDD;
  color: #07070D;
  cursor: pointer;
}

.prev-next-row {
  margin-bottom: 3em;
}

#filter {
  margin-bottom: 1em;
}

.instructions {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 1em;
}

#results-table {
  margin-top: 1.5em;
}

.outpost-selections {
  margin-top: 2em;
}

.outpost-selections .form-group {
  cursor: pointer;  
  display: inline-block;
  margin-right: 0.8em;
  font-size: 0.9em;
}

.outpost-selections input {
  cursor: pointer;  
  vertical-align: top;
}

.outpost-selections label {
  cursor: pointer;  
  font-weight: normal;
}

#filtered-list {
  background-color: transparent;
  border-style: none;
  margin-bottom: 2em;
  margin-top: 2em;
  min-width: 240px;
  outline: none;
  resize: none;
}

footer {
  background-color: #1C181A;
  bottom: 0;
  font-size: 14px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
